iframe {
    display: $iframe-display;
    width: $iframe-width;
    height: $iframe-height;
    max-width: $iframe-max-width;
    @include margin-shorthand-with-screens-support((
        top: $iframe-margin-top,
        bottom: $iframe-margin-bottom,
        left: $iframe-margin-left,
        right: $iframe-margin-right
    ), $iframe-margin-for-screens);
    @include outline-shorthand((
        width: $iframe-outline-width,
        style: $iframe-outline-style,
        color: $iframe-outline-color,
        make-shorthand: true
    ));
    @include border-shorthand(map-merge((
        border: (
            width: $iframe-border-width,
            style: $iframe-border-style,
            color: $iframe-border-color,
            make-shorthand: true
        )
    ), $iframe-borders));
    @include padding-shorthand((
        top: $iframe-padding-top,
        bottom: $iframe-padding-bottom,
        left: $iframe-padding-left,
        right: $iframe-padding-right
    ));
    @include iframe-extra-style();
}