$iframe-display: inline-block;
$iframe-width: auto;
$iframe-height: auto;
$iframe-max-width: 100%;

//Margins
$iframe-margin-top: $elements-margin-top !default;
$iframe-margin-bottom: $elements-margin-bottom !default;
$iframe-margin-left: $elements-margin-left !default;
$iframe-margin-right: $elements-margin-right !default;
$iframe-margin-for-screens: $elements-margin-for-screens !default;

//Outline
$iframe-outline-width: 0 !default;
$iframe-outline-style: null !default;
$iframe-outline-color: null !default;

//Borders
$iframe-border-width: 0 !default;
$iframe-border-style: null !default;
$iframe-border-color: null !default;
$iframe-borders: () !default;

//Paddings
$iframe-padding-top: 0 !default;
$iframe-padding-bottom: 0 !default;
$iframe-padding-left: 0 !default;
$iframe-padding-right: 0 !default;

//Extra style
//@mixin iframe-extra-style() {} //Create this mixin before import module when you want add some special style for element